/* Reset default styles */
body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  overflow: hidden;
  background-color: black;
  color: white; /* Standard-Textfarbe */
}

/* Terminal styles */
#terminal {
  background-color: transparent;
  border: 2px solid transparent;
  box-shadow: none;
}

/* Terminal header */
#terminal-header {
  background-color: transparent;
}

/* Terminal buttons */
.terminal-button {
  background-color: transparent;
  border: none;
}

/* Terminal content */
#terminal-content {
  background-color: transparent;
}

/* Video background */
#video-background {
  background-color: transparent;
}

#myVideo {
  opacity: 0; /* Video unsichtbar */
}

/* Blurred box */
#blurred-box {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

/* Profile picture */
#blurred-box img {
  opacity: 0; /* Unsichtbar */
}

/* Links */
.links a {
  color: white;
  background-color: transparent;
}

/* User description */
.user-description p {
  background-color: transparent;
  color: white;
}

/* Overlay */
#overlay {
  background-color: transparent;
}

/* Enter text */
#enter-text {
  color: white;
  text-shadow: 0 0 10px rgba(138, 43, 226, 0.8), 0 0 20px rgba(138, 43, 226, 0.7);
}

